name: Build and deploy

on:
  push:
    branches:
      - "dev"

env:
  IMAGE_REPO: registry.minsky.cc/minskylab/landing-page

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: docker/setup-qemu-action@v1

      - uses: docker/setup-buildx-action@v1

      - uses: docker/login-action@v1
        with:
          registry: registry.minsky.cc
          username: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
          password: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}

      - id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ${{ env.IMAGE_REPO }}:${{ github.sha }}
            ${{ env.IMAGE_REPO }}:latest

  deploy-caprover:
    runs-on: ubuntu-20.04
    needs: [build-push-registry]
    steps:
      - uses: floms/action-caprover@v1
        with:
          host: "${{ secrets.CAPROVER_HOST }}"
          password: "${{ secrets.CAPROVER_PASSWORD }}"
          app: "${{ secrets.CAPROVER_DEV_APP }}"
          image: "${{ env.IMAGE_REPO }}:${{ github.sha }}"
